@use "base";

.thankYou{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    .thankYou-icon {
        width: 11rem;
        margin: 1rem auto;
    }

    .highlight{
        background-color: base.$neutral4;
        color: rgba(base.$primary-color, 0.8);
        width: 60%;
        padding-top: 0.2rem;
        border-radius: 1.3rem;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 0.8rem;

        span{
            font-size: inherit;
        }
    }

    h1{
        color: base.$neutral1;
        font-size: 2rem;
        margin-top: 1rem;
    }

    p{
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }
}

#rating input{
    display: none;
}

.hidden{
    display: none;
}
