.home .home-icon, .home .btn-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
}

body {
  background-color: #121417;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-wrapper {
  width: 20vw;
  height: 46vh;
  margin: 27vh auto;
  padding: 1.5rem;
  background-image: linear-gradient(rgba(37, 45, 55, 0.8), rgba(37, 45, 55, 0.5));
  color: #959eac;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-wrapper p {
  color: #7c8798;
  font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
  .card-wrapper {
    width: 80vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 810px) {
  .card-wrapper {
    width: 40vw;
  }
}
@media screen and (min-width: 810px) and (max-width: 1045px) {
  .card-wrapper {
    width: 30vw;
  }
}
.home h1, .home p, .home button {
  padding-top: 0.2rem;
}
.home .home-icon {
  background-color: #252d37;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.home .home-icon img {
  width: 0.8rem;
}
.home h1 {
  color: #ffffff;
  font-size: 1.5rem;
}
.home #divMessage {
  font-size: 0.8rem;
  color: #ffffff;
  padding-top: 0.2rem;
}
.home .btn-area {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.home input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.home .btn-number {
  background-color: #252d37;
  color: #7c8798;
  border: none;
  border-radius: 3.5rem;
  width: calc(20% - 1rem);
  height: 2.5rem;
  font-size: 0.8rem;
  position: relative;
  text-align: center;
}
.home .btn-number:hover {
  background-color: #7c8798;
  color: #ffffff;
  cursor: pointer;
}
.home .btn-number:focus-within {
  background-color: #fb7413;
  color: #ffffff;
  cursor: pointer;
}
.home .btn-submit {
  border-radius: 1.3rem;
  height: 2.5rem;
  width: 100%;
  background-color: #fb7413;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  border: none;
}
.home .btn-submit:hover {
  background-color: #ffffff;
  color: #fb7413;
  cursor: pointer;
}

.thankYou {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.thankYou .thankYou-icon img {
  width: 7.5rem;
}
.thankYou .highlight {
  background-color: #252d37;
  color: #fb7413;
  width: 60%;
  padding-top: 0.2rem;
  border-radius: 1.3rem;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}
.thankYou .highlight span {
  font-size: inherit;
}
.thankYou h2 {
  color: #ffffff;
  font-size: 1.5rem;
}

#rating input {
  display: none;
}

.hidden {
  display: none;
}

.attribution {
  width: 100%;
  height: auto;
  font-size: 11px;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */