.home .home-icon, .home .btn-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
}

body {
  background-color: #121417;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-wrapper {
  width: 25vw;
  height: 52vh;
  margin: 24vh auto;
  padding: 2rem;
  background-image: linear-gradient(rgba(37, 45, 55, 0.8), rgba(37, 45, 55, 0.5));
  color: #959eac;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-wrapper p {
  color: #7c8798;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .card-wrapper {
    width: 80vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 810px) {
  .card-wrapper {
    width: 40vw;
  }
}
@media screen and (min-width: 810px) and (max-width: 1045px) {
  .card-wrapper {
    width: 30vw;
  }
}
.home h1, .home p, .home button {
  padding-top: 0.2rem;
}
.home .home-icon {
  background-color: rgba(124, 135, 152, 0.1);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.home .home-icon img {
  width: 1rem;
}
.home h1 {
  color: #ffffff;
  font-size: 1.7rem;
}
.home p {
  line-height: 1.5rem;
}
.home #divMessage {
  font-size: 0.8rem;
  color: #ffffff;
  padding-top: 0.2rem;
}
.home .btn-area {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.home input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.home .btn-number {
  background-color: #252d37;
  color: #7c8798;
  border: none;
  border-radius: 4rem;
  width: calc(20% - 1rem);
  height: 3.2rem;
  font-size: 1rem;
  position: relative;
  text-align: center;
}
.home .btn-number:hover {
  background-color: #7c8798;
  color: #ffffff;
  cursor: pointer;
}
.home .btn-number:focus-within {
  background-color: #fb7413;
  color: #ffffff;
  cursor: pointer;
}
.home .btn-submit {
  border-radius: 2rem;
  height: 2.7rem;
  width: 100%;
  background-color: #fb7413;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  border: none;
}
.home .btn-submit:hover {
  background-color: #ffffff;
  color: #fb7413;
  cursor: pointer;
}

.thankYou {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.thankYou .thankYou-icon {
  width: 11rem;
  margin: 1rem auto;
}
.thankYou .highlight {
  background-color: #252d37;
  color: rgba(251, 116, 19, 0.8);
  width: 60%;
  padding-top: 0.2rem;
  border-radius: 1.3rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.8rem;
}
.thankYou .highlight span {
  font-size: inherit;
}
.thankYou h1 {
  color: #ffffff;
  font-size: 2rem;
  margin-top: 1rem;
}
.thankYou p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

#rating input {
  display: none;
}

.hidden {
  display: none;
}

.attribution {
  width: 100%;
  height: auto;
  font-size: 11px;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */
